<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>


<body>

    <div class="messages-container">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class="logincontainer">

    
    <h2>Login</h2>

    
    <form method="post" action="{% url 'login' %}">
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>

</div>
</body>
</html>
